<%- include('../partials/header.ejs') %>
    <div class="content">
        <% for (let snippet of snippets) { %>
        <div class="card">
            <h3><i class="<%= snippet.language.logo %>"></i> <%= snippet.title %></h5>
            <pre class="<%= snippet.language.htmlClass %>"><code><%= snippet.code %></code></pre>
            <p><%= snippet.description %></p>
            <p>Posté le <%= snippet.creationDate.toLocaleString('fr-FR') %></p>
        </div>
        <% } %>
    </div>
<%- include('../partials/footer.ejs') %>