<%- include('../partials/header.ejs') %>
    <div class="content">
        <a class="float" href="/new">+</a>
        <% for (let snippet of snippets) { %>
        <div class="card">
            <% if (locals.user && snippet.authorId === locals.user.id) { %>
                <a class="button edit" href="/edit/<%= snippet.id %>">Edit</a>
                <a class="button delete" href="/delete/<%= snippet.id %>">Delete</a>
            <% } %>
            <h3><i class="<%= snippet.language.logo %>"></i> <%= snippet.title %></h5>
            <pre class="<%= snippet.language.htmlClass %>"><code><%= snippet.code %></code></pre>
            <p><%= snippet.description %></p>
            <p style="text-align: end;"><%= snippet.author.name %></p>
            <p style="text-align: end;">Posté le <%= snippet.creationDate.toLocaleString('fr-FR') %></p>
        </div>
        <% } %>
    </div>
<%- include('../partials/footer.ejs') %>